#############################################################################
## Project
#############################################################################

server/storage/wave_files/*
server/storage/wave_form_files/*
*.sqlite3
*.pyc
__pycache__/

#############################################################################
## Windows
#############################################################################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#############################################################################
## Linux
#############################################################################

*~

#############################################################################
## OSX
#############################################################################

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#############################################################################
## Vagrant
#############################################################################

.vagrant/

#############################################################################
## Sublime Text
#############################################################################

# workspace files are user-specific
*.sublime-workspace

#############################################################################
## SASS
#############################################################################

*.sass-cache

#############################################################################
## Yeoman
#############################################################################

node_modules/
bower_components/
*.log

build/
dist/

#############################################################################
## Composer
#############################################################################

composer.phar
vendor/
